*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}


nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 8%;
}

.navigation{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigator{
    display: flex;
}

.navigation li{
    margin-right: 15px;

}

.banner{
    background: url(nasi.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li a{
    text-decoration: none;
    color: black;

}

.container{
    display: flex;
    flex-direction: row;
    padding: 3%;
}

.categori{
    width: 35%;
    background-color: beige;
    padding: 5px 10px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu{
    width: 60%;
    background-color: rgb(0, 128, 79);
    padding: 5px 10px;
}

.card{
    text-align: center;
    
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    padding: 15px;
}
.dicoret{
    text-decoration: line-through;
    color: gray;
}
.span{
    margin-left: 100px;
}
.contentKategori .card{
    margin-top: 30px;
}
.contentKategori .card{
    display: flex;
    align-items: center;
}

.contentKategori .card img{
    width: 130px;
    height: 130px;
    margin-right: 20px;
}

.indexfooter{
    background-color: cornflowerblue;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.indexfooter ul {
    display: flex;
}

.indexfooter ul li{
    margin-right: 20px;
    list-style: none;
}

.indexfooter ul i{
    color: white;
    font-size: 30px;
}

.containerMenu .ListMenu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;

}
.containerMenu .menuTitle{
    text-align: center;
    margin: 20px 0;
}
.containerMenu .ListMenu .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.ListMenu .card img{
    height: 200px;
    width: 200px;
}

.ratting{
    display: flex;
    list-style: none;
    color: rgba(255, 217, 0, 0.788);

}

.ListMenu .card img:hover{
    transform: scale(1.1);
    transition: 2s;
}

.footerMenu{
    display: flex;
    justify-content: space-around;
    background-color: rgb(65, 37, 1);
    margin-top: 40px;
    padding: 30px;
}

.footerMenu ul{
    list-style: none;
}

.footerMenu ul li{
    margin-bottom: 10px;
}

.footerMenu ul li a, .footerMenu ul li i{
    color: white;
}

.footerMenu .footer1 ul{
    display: flex;
}

.footerMenu .footer1 ul li{
    margin-right: 20px;
}

.burgerMenu .bars{
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 5px;
}

.sidebar{
    position: fixed;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    top: 54px;
    right: -300px;
    transition: 1s;
    padding-left: 30px;
    padding-top: 20px;
}

.sidebar.active{
    right: 0;
    transition: 1s;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    margin-bottom: 20px;
}

.burgerMenu{
    visibility: hidden;
}

.containerContact{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: grey;
}

.containerContact .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: brown;
    padding: 20px;
}

.containerContact .card textarea{
    margin-bottom: 20px;
    border: none;
    outline: none;
    padding: 20px;
}

.containerContact .card input{
    margin-bottom: 20px;
    border: none;
    outline: none;
    padding: 20px;
}










@media (max-width:780px){
    .navigation{
        visibility: hidden;
    }

    .burgerMenu{
        visibility: visible;
    }
}